{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column" id="content_col">
    <div class="d-flex justify-content-center" id="title">
        <h1 class="text-center">Welcome to the INCI analyser!</h1>
    </div>
    <div class="d-flex justify-content-center" id="subtitle">
        <h4 class="text-center">A simple online tool to help you determine the safety of your cosmetics' ingredients </h4>
    </div>
    <div class="d-flex justify-content-center" id="start_button">
        <div class="button">
            <a href="{% url 'adding' %}" class="btn btn-lg btn-outline-light align-self-center" style="margin-top: 5vw">start analysing</a></div>
        </div>
    </div>
</div>
{% endblock %}

